<a href="https://colab.research.google.com/github/BalaramAthmakuri/Data-Science/blob/main/Reading_from_files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_csv("data/CSV_EX_1.csv")

In [ ]:
df1

   Bedroom   Sq. foot    Locality   Price ($)
0        2       1500        Good      300000
1        3       1300        Fair      240000
2        3       1900   Very good      450000
3        3       1850         Bad      280000
4        2       1640        Good      310000

In [ ]:
df2 = pd.read_csv("./data/CSV_EX_2.csv")
df2

   2   1500        Good   300000
0  3   1300        Fair   240000
1  3   1900   Very good   450000
2  3   1850         Bad   280000
3  2   1640        Good   310000

In [ ]:
df2 = pd.read_csv("./data/CSV_EX_2.csv",header=None)
df2

   0     1           2       3
0  2  1500        Good  300000
1  3  1300        Fair  240000
2  3  1900   Very good  450000
3  3  1850         Bad  280000
4  2  1640        Good  310000

In [ ]:
df2 = pd.read_csv("./data/CSV_EX_2.csv",names=['Bed','  sq. feet','Locality','Price'])
df2

   Bed    sq. feet    Locality   Price
0    2        1500        Good  300000
1    3        1300        Fair  240000
2    3        1900   Very good  450000
3    3        1850         Bad  280000
4    2        1640        Good  310000

In [ ]:
df3 = pd.read_csv("./data/CSV_EX_3.csv")
df3

  Bedroom; Sq. foot; Locality; Price ($)
0                  2; 1500; Good; 300000
1                  3; 1300; Fair; 240000
2             3; 1900; Very good; 450000
3                   3; 1850; Bad; 280000
4                  2; 1640; Good; 310000

In [ ]:
df3 = pd.read_csv("./data/CSV_EX_3.csv",sep=";")
df3

   Bedroom   Sq. foot    Locality   Price ($)
0        2       1500        Good      300000
1        3       1300        Fair      240000
2        3       1900   Very good      450000
3        3       1850         Bad      280000
4        2       1640        Good      310000

In [ ]:
df4 = pd.read_csv("./data/CSV_EX_skipfooter.csv")
df4

  Filetype: CSV                Unnamed: 1  Unnamed: 2  Unnamed: 3
0           NaN    Info about some houses         NaN         NaN
1       Bedroom                  Sq. foot    Locality   Price ($)
2             2                      1500        Good      300000
3             3                      1300        Fair      240000
4             3                      1900   Very good      450000
5             3                      1850         Bad      280000
6             2                      1640        Good      310000
7           NaN   This is the end of file         NaN         NaN

In [ ]:
df4 = pd.read_csv("./data/CSV_EX_skipfooter.csv",skiprows=2)
df4

   Bedroom                  Sq. foot    Locality   Price ($)
0      2.0                      1500        Good    300000.0
1      3.0                      1300        Fair    240000.0
2      3.0                      1900   Very good    450000.0
3      3.0                      1850         Bad    280000.0
4      2.0                      1640        Good    310000.0
5      NaN   This is the end of file         NaN         NaN

In [5]:
df4 = pd.read_csv("./CSV_EX_skipfooter.csv",skiprows=2,skipfooter=1)
df4

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

   Bedroom   Sq. foot    Locality   Price ($)
0        2       1500        Good      300000
1        3       1300        Fair      240000
2        3       1900   Very good      450000
3        3       1850         Bad      280000
4        2       1640        Good      310000

In [ ]:
df4 = pd.read_csv("./data/CSV_EX_skipfooter.csv",skiprows=2,nrows=3)
df4

   Bedroom   Sq. foot    Locality   Price ($)
0        2       1500        Good      300000
1        3       1300        Fair      240000
2        3       1900   Very good      450000